<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ALPHA ZONE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h1>أهلاً بك في ALPHA ZONE</h1></header>
    {% for id, info in games.items() %}
    <div class="game-card">
        <h2>{{ info.title }}</h2>
        <a href="/game/{{ id }}" class="btn-visit">عرض اللعبة</a>
    </div>
    {% endfor %}
<script src="https://pl29765384.effectivecpmnetwork.com/a5/ff/91/a5ff91fe1e26352fef1046784f0f6a91.js"></script>

</body>
</html>
